@use "../../styles/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

body {
    background: $background-light;
}

.warehouse-details {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px rbga(19, 24, 44, 0.1);
    border-radius: 3px;
    background: $white;
}

.header {
    display: flex;
    position: relative;

    &__back {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
    }

    &__title {
        @include h1-header($instock-black, right)
    }
}
