@use "../../styles/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

body {
    background: $background-light;
}

.warehouse-details {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px rbga(19, 24, 44, 0.1);
    border-radius: 3px;
    background: $white;
}

.header {
    display: flex;
    position: relative;

    &__back {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
        margin-top: 0.35rem;

        &--arrow {
            min-height: 100%;
            min-width: 100%;
        }
    }

    &__title {
        @include h1-header($instock-black, right)
    }

    &__edit {
        height: 2.25rem;
        width: 2.25rem;
        background-color: $instock-indigo;
        position: absolute;
        right: 1rem;
        border-radius: 1.25rem;
        text-align: center;

        &--icon {
            width: 1rem;
            height: 1rem;
            margin-top: 0.5rem;
            filter: brightness(0) invert(1);
        }

        &--text {
            visibility: hidden;
        }
    }
}

.details {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    border-top: 1px solid $cloud;

    &__subheader {
        @include h4-header($slate, left)
    }

    &__value {
        @include p2-body($instock-black, left)
    }

    &__address-container {
        margin: 0.5rem 1rem;
        width: 50%;
        flex-wrap: wrap;
    }

    &__contact-container {
        display: flex;
        flex-direction: row;
        margin: 0.5rem 1rem;
    }

    &__name-container {
        width: 50%;
        flex-wrap: wrap;
    }

    &__info-container {
        width: 50%;
        flex-wrap: wrap;
    }
}
