@font-face {
    font-family: 'titillium-web-regular';
    src: url('../../assets/Fonts/TitilliumWeb-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: 'titillium';
    src: url('../../assets/Fonts/TitilliumWeb-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    }