@use "./variables" as *;


// breakpoints for certain widths of the page
@mixin mobile {
    @media (max-width: $breakpoint-max-mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $breakpoint-min-tablet) and (max-width: $breakpoint-max-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

//font size and color mixins 

@mixin h1-header($font-color, $text-align) {
    color: $font-color;
    text-align: $text-align;
    font-family: $font-semi;
        @include desktop {
            font-size: 2rem;
            line-height: 2.5rem;
        }
        @include tablet {
            font-size: 2rem;
            line-height: 2.5rem;
        }
        @include mobile {
            font-size: 1.75rem;
            line-height: 2rem;
        }
}

@mixin h2-subheader($font-color, $text-align) {
    color: $font-color;
    text-align: $text-align;
    font-family: $font-semi;
        @include desktop {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
        }
        @include mobile {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
}

@mixin h3-labels-links-buttons($font-color, $text-align) {
    color: $font-color;
    text-align: $text-align;
    font-family: $font-semi;
        @include desktop {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
        @include mobile {
            font-size: 0.8125rem;
            line-height: 1.25rem;
        }
}

@mixin h4-header($font-color, $text-align) {
    color: $font-color;
    text-align: $text-align;
    font-family: $font-semi;
        @include desktop {
            font-size: 0.75rem;
            line-height: 1.125rem;
        }
        @include tablet {
            font-size: 0.75rem;
            line-height: 1.125rem;
        }
        @include mobile {
            font-size: 0.6875rem;
            line-height: 1rem;
        }
}

@mixin p1-body($font-color, $text-align) {
    color: $font-color;
    text-align: $text-align;
    font-family: $font-regular;
        @include desktop {
            font-size: 1rem;
            line-height: 1.75rem;
        }
        @include tablet {
            font-size: 1rem;
            line-height: 1.75rem;
        }
        @include mobile {
            font-size: 0.9375rem;
            line-height: 1.625rem;
        }
}

    @mixin p2-body($font-color, $text-align) {
    color: $font-color;
    text-align: $text-align;
    font-family: $font-regular;
        @include desktop {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
        @include mobile {
            font-size: 0.8125rem; 
            line-height: 1.25rem;
        }
}

    @mixin p3-body($font-color, $text-align) {
    color: $font-color;
    text-align: $text-align;
    font-family: $font-regular;
        @include desktop {
            font-size: 0.75rem; 
            line-height: 1.125rem;
        }
        @include tablet {
            font-size: 0.75rem;
            line-height: 1.125rem;
        }
        @include mobile {
            font-size: 0.6875rem; 
            line-height: 1rem;
        }
}
