@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global' as *;
@import '../../components/Header.scss';
@import '../../components/Footer.scss';

.inventory__detail{
    background-color: $white;
    box-shadow: 0px 2px 5px;
    border-radius: 3px;
    padding: $mobile-padding-gutter;

    //position: absolute;
    //left: 4.27%;
    //right: 4.27%;
    //top: 5.85%;
    //bottom: 4.13%;

    @include tablet{
        padding: $tablet-padding-gutter;

    }

    @include desktop{
        padding-left: $desktop-padding-gutter;
        padding-right: $desktop-padding-gutter;
    }
}

.inventory-detail {
    &__card {
            margin-top: -3rem;

            @include tablet {
                margin-top: -5rem;
            }
    }
}