@use "../styles/global";
@use "../styles/partials/mixins";

.footer {
    width: 100%;
    background-color: $background-light;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

        @include tablet {
            height: 3rem;
        }
};

.footer__desc-container {
    display: flex;
    align-content: center;
}

.footer__desc {
    @include p3-body($slate, center);
}