@import '../styles/partials/variables';
@import '../styles/partials/mixins';
@import '../styles/partials/fonts';

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $background-dark;
    padding: 1rem 16px;
}

